body{
    color: #333;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#container {
    width: 70%;
    padding: 1em;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container #cabecera {
    background-color: blue;
    color: white;
    padding: 1em 0.5em;
}
#container h1 {
    font-size: 40px;
}